<html ng-app="spotiface">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans" rel="stylesheet">
    <link href="resources/css/style2.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


  </head>
  <body>
    <div class="container">
      <nav>
        <div id="logo">
          <img src="resources/images/spotiface logo.png"/>
        </div>
        <div id="navtext">
          <h1>Spotiface</h1>
          <h2>Music for your mood</h2>
        </div>
        <h1><a href="about.html">About</a></h1>
      </nav>

      <!-- Main page -->
      <main ng-controller="MainController">
        <div ng-show="introview == true">
          <h1>I can tell from your facial expression what type of music you need to listen to.</h1>
          <p>
            Well, hopefully...
          </p>
          <p>
            Spotiface works best with mobile devices, but you can choose to upload an image of yours!
          </p>
        </div>
        <div class="analyzeResults" ng-show="analyzed == true">
          <h1>Your mood:</h1>
          <p class="capitalize">
            {{ greeting["PrimaryEmotion"] }} {{ emojis["dominantEmoji"] }}
          </p>

        </div>

        <div ng-show="chosenFile == false">
          <form>
            <input type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().setFile(this)" ng-model="photo">
          </form>
        </div>

        <div ng-show="chosenFile == true && analyzed == false">
          <h1 ng-if="introview == true">Is this image okay?</h1>
          <h1 ng-if="introview == false" id="progressText">Getting the tools working...</h1>
          <img ng-src="{{imageSrc}}" width="60%" id="previewImg" />
          <div id="choiceDiv">
            <button id="analyzeBtn" ng-click="analyzeImage()">Yes</button>
            <button ng-click="resetImage()">Try Again</button>
            <p>
              <i>Note: If Yes button does not appear, the application is not ready yet to analyze</i>
            </p>
          </div>
        </div>
        <div ng-show="analyzed == true">
          <h2>You should listen to</h2>
          <h1>{{ greeting["Song"]["Genre"] }}</h1>
          <img src="{{ greeting['Song']['ImageURL'] }}" width="50%"/>
          <h3>{{ greeting["Song"]["Title"] }}</h3>
          <h3>{{ greeting["Song"]["Artist"]["Name"] }} </h3>
          <h3>{{ greeting["Song"]["Duration"] | date:'mm:ss' }}</h3>
        </div>

      </main>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- <script src="resources/js/affdex.js"></script> -->
    <script src="https://download.affectiva.com/js/3.2/affdex.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/MainController.js"></script>

  </body>
</html>
