<html ng-app="spotiface">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Open+Sans" rel="stylesheet">
    <link href="resources/css/style2.css" rel="stylesheet" />



  </head>
  <body>
    <div class="container">
      <nav>
        <div id="logo">
          <img src="resources/images/spotiface logo.png"/>
        </div>
        <div id="navtext">
          <h1>Spotiface</h1>
          <h2>Music for your mood</h2>
        </div>
        <h1><a href="about.html">About</a></h1>
      </nav>

      <!-- Main page -->
      <main ng-controller="MainController">
        <h1>I can tell from your facial expression what type of music you need to listen to.</h1>
        <p>
          Well, hopefully...
        </p>
        <p>
          Spotiface works best with mobile devices, but you can choose to upload an image of yours!
        </p>

        <div class="analyzeResults">
          <p>
            Joy:
          </p>
        </div>

        <div ng-show="chosenFile == false">
          <form>
            <input type="file" accept="image/*" capture="camera" onchange="angular.element(this).scope().setFile(this)" ng-model="photo">
          </form>
        </div>

        <div ng-show="chosenFile == true">
          <h1>Is this image okay?</h1>
          <img ng-src="{{imageSrc}}" width="300px"/>
          <div>
            <button ng-click="analyzeImage()">Yes</button>
            <button ng-click="resetImage()">Try Again</button>
            <p>
              {{ greeting.content }}
            </p>
          </div>
        </div>
      </main>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="resources/js/app.js"></script>
    <script src="resources/js/MainController.js"></script>
  </body>
</html>
